<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.share.inspect.qrci.dao.mapper.PersonInfoMapper">
    <resultMap id="BaseResultMap" type="com.share.inspect.qrci.enter.PersonInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="person_name" property="personName" jdbcType="VARCHAR"/>
        <result column="telphone" property="telphone" jdbcType="VARCHAR"/>
        <result column="part_id" property="partId" jdbcType="BIGINT"/>
        <result column="part_type" property="partType" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_password" property="userPassword" jdbcType="VARCHAR"/>
        <result column="unility_id" property="unilityId" jdbcType="BIGINT"/>
        <result column="person_email" property="personEmail" jdbcType="VARCHAR"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="BIGINT"/>
        <result column="is_enable" property="isEnable" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        person_name,
        telphone,
        part_id,
        part_type,
        user_name,
        user_password,
        unility_id,
        person_email,
        comment,
        create_time,
        update_time,
        is_enable
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_person_info
        where id = #{ id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_person_info
        where id = #{ id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteBatchByPrimaryKey" parameterType="java.util.List">
        delete from t_person_info
        where id in
        <foreach collection="list" item="id" index="index"
                 open="(" close=")" separator=",">
            #{ id,jdbcType=BIGINT}
        </foreach>
    </delete>


    <insert id="insertSelective" parameterType="com.share.inspect.qrci.enter.PersonInfo">
        insert into t_person_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="personName != null">
                person_name,
            </if>
            <if test="telphone != null">
                telphone,
            </if>
            <if test="partId != null">
                part_id,
            </if>
            <if test="partType != null">
                part_type,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userPassword != null">
                user_password,
            </if>
            <if test="unilityId != null">
                unility_id,
            </if>
            <if test="personEmail != null">
                person_email,
            </if>
            <if test="comment != null">
                comment,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isEnable != null">
                is_enable,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{ id,jdbcType= BIGINT },
            </if>
            <if test="personName != null">
                #{ personName,jdbcType= VARCHAR },
            </if>
            <if test="telphone != null">
                #{ telphone,jdbcType= VARCHAR },
            </if>
            <if test="partId != null">
                #{ partId,jdbcType= BIGINT },
            </if>
            <if test="partType != null">
                #{ partType,jdbcType= VARCHAR },
            </if>
            <if test="userName != null">
                #{ userName,jdbcType= VARCHAR },
            </if>
            <if test="userPassword != null">
                #{ userPassword,jdbcType= VARCHAR },
            </if>
            <if test="unilityId != null">
                #{ unilityId,jdbcType= BIGINT },
            </if>
            <if test="personEmail != null">
                #{ personEmail,jdbcType= VARCHAR },
            </if>
            <if test="comment != null">
                #{ comment,jdbcType= VARCHAR },
            </if>
            <if test="createTime != null">
                #{ createTime,jdbcType= BIGINT },
            </if>
            <if test="updateTime != null">
                #{ updateTime,jdbcType= BIGINT },
            </if>
            <if test="isEnable != null">
                #{ isEnable,jdbcType= VARCHAR },
            </if>
        </trim>
        <selectKey resultType="java.lang.Long" order="AFTER"
                   keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>

    <select id="selectByPropertyByPage" resultMap="BaseResultMap"
            parameterType="Map">
        select
        <include refid="Base_Column_List"/>
        from t_person_info
        where 1=1
        <if test="id != null">
            AND id = #{ id,jdbcType= BIGINT }
        </if>
        <if test="personName != null">
            AND person_name = #{ personName,jdbcType=
            VARCHAR }
        </if>
        <if test="telphone != null">
            AND telphone = #{ telphone,jdbcType=
            VARCHAR }
        </if>
        <if test="partId != null">
            AND part_id = #{ partId,jdbcType= BIGINT }
        </if>
        <if test="partType != null">
            AND part_type = #{ partType,jdbcType=
            VARCHAR }
        </if>
        <if test="userName != null">
            AND user_name = #{ userName,jdbcType=
            VARCHAR }
        </if>
        <if test="userPassword != null">
            AND user_password = #{ userPassword,jdbcType=
            VARCHAR }
        </if>
        <if test="unilityId != null">
            AND unility_id = #{ unilityId,jdbcType= BIGINT }
        </if>
        <if test="personEmail != null">
            AND person_email = #{ personEmail,jdbcType=
            VARCHAR }
        </if>
        <if test="comment != null">
            AND comment = #{ comment,jdbcType=
            VARCHAR }
        </if>
        <if test="createTime != null">
            AND create_time = #{ createTime,jdbcType= BIGINT }
        </if>
        <if test="updateTime != null">
            AND update_time = #{ updateTime,jdbcType= BIGINT }
        </if>
        <if test="isEnable != null">
            AND is_enable = #{ isEnable,jdbcType=
            VARCHAR }
        </if>
        ORDER BY id desc
    </select>

    <select id="selectCountByProperty" resultType="java.lang.Integer"
            parameterType="Map">
        select
        count(1)
        from t_person_info
        where 1=1
        <if test="id != null">
            AND id = #{ id,jdbcType= BIGINT }
        </if>
        <if test="personName != null">
            AND person_name = #{ personName,jdbcType=
            VARCHAR }
        </if>
        <if test="telphone != null">
            AND telphone = #{ telphone,jdbcType=
            VARCHAR }
        </if>
        <if test="partId != null">
            AND part_id = #{ partId,jdbcType= BIGINT }
        </if>
        <if test="partType != null">
            AND part_type = #{ partType,jdbcType=
            VARCHAR }
        </if>
        <if test="userName != null">
            AND user_name = #{ userName,jdbcType=
            VARCHAR }
        </if>
        <if test="userPassword != null">
            AND user_password = #{ userPassword,jdbcType=
            VARCHAR }
        </if>
        <if test="unilityId != null">
            AND unility_id = #{ unilityId,jdbcType= BIGINT }
        </if>
        <if test="personEmail != null">
            AND person_email = #{ personEmail,jdbcType=
            VARCHAR }
        </if>
        <if test="comment != null">
            AND comment = #{ comment,jdbcType=
            VARCHAR }
        </if>
        <if test="createTime != null">
            AND create_time = #{ createTime,jdbcType= BIGINT }
        </if>
        <if test="updateTime != null">
            AND update_time = #{ updateTime,jdbcType= BIGINT }
        </if>
        <if test="isEnable != null">
            AND is_enable = #{ isEnable,jdbcType=
            VARCHAR }
        </if>
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.share.inspect.qrci.enter.PersonInfo">
        <if test="id !=null">
            update t_person_info
            <set>
                <if test="id != null">
                    id = #{ id,jdbcType= BIGINT },
                </if>
                <if test="personName != null">
                    person_name = #{ personName,jdbcType=
                        VARCHAR },
                </if>
                <if test="telphone != null">
                    telphone = #{ telphone,jdbcType=
                        VARCHAR },
                </if>
                <if test="partId != null">
                    part_id = #{ partId,jdbcType= BIGINT },
                </if>
                <if test="partType != null">
                    part_type = #{ partType,jdbcType=
                        VARCHAR },
                </if>
                <if test="userName != null">
                    user_name = #{ userName,jdbcType=
                        VARCHAR },
                </if>
                <if test="userPassword != null">
                    user_password = #{ userPassword,jdbcType=
                        VARCHAR },
                </if>
                <if test="unilityId != null">
                    unility_id = #{ unilityId,jdbcType= BIGINT },
                </if>
                <if test="personEmail != null">
                    person_email = #{ personEmail,jdbcType=
                        VARCHAR },
                </if>
                <if test="comment != null">
                    comment = #{ comment,jdbcType=
                        VARCHAR },
                </if>
                <if test="createTime != null">
                    create_time = #{ createTime,jdbcType= BIGINT },
                </if>
                <if test="updateTime != null">
                    update_time = #{ updateTime,jdbcType= BIGINT },
                </if>
                <if test="isEnable != null">
                    is_enable = #{ isEnable,jdbcType=
                        VARCHAR }
                </if>
            </set>
            where id = #{ id,jdbcType=BIGINT}
        </if>
    </update>

</mapper>