<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.share.inspect.qrci.dao.mapper.TeamGroupMapper">
    <resultMap id="BaseResultMap" type="com.share.inspect.qrci.enter.TeamGroup">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="group_name" property="groupName" jdbcType="VARCHAR"/>
        <result column="unit_id" property="unitId" jdbcType="BIGINT"/>
        <result column="group_phone" property="groupPhone" jdbcType="VARCHAR"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        group_name,
        unit_id,
        group_phone,
        comment,
        create_time,
        update_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_team_group
        where id = #{ id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_team_group
        where id = #{ id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteBatchByPrimaryKey" parameterType="java.util.List">
        delete from t_team_group
        where id in
        <foreach collection="list" item="id" index="index"
                 open="(" close=")" separator=",">
            #{ id,jdbcType=BIGINT}
        </foreach>
    </delete>


    <insert id="insertSelective" parameterType="com.share.inspect.qrci.enter.TeamGroup">
        insert into t_team_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="groupName != null">
                group_name,
            </if>
            <if test="unitId != null">
                unit_id,
            </if>
            <if test="groupPhone != null">
                group_phone,
            </if>
            <if test="comment != null">
                comment,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{ id,jdbcType= BIGINT },
            </if>
            <if test="groupName != null">
                #{ groupName,jdbcType= VARCHAR },
            </if>
            <if test="unitId != null">
                #{ unitId,jdbcType= BIGINT },
            </if>
            <if test="groupPhone != null">
                #{ groupPhone,jdbcType= VARCHAR },
            </if>
            <if test="comment != null">
                #{ comment,jdbcType= VARCHAR },
            </if>
            <if test="createTime != null">
                #{ createTime,jdbcType= BIGINT },
            </if>
            <if test="updateTime != null">
                #{ updateTime,jdbcType= BIGINT },
            </if>
        </trim>
        <selectKey resultType="java.lang.Long" order="AFTER"
                   keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>

    <select id="selectByPropertyByPage" resultMap="BaseResultMap"
            parameterType="Map">
        select
        <include refid="Base_Column_List"/>
        from t_team_group
        where 1=1
        <if test="id != null">
            AND id = #{ id,jdbcType= BIGINT }
        </if>
        <if test="groupName != null">
            AND group_name = #{ groupName,jdbcType=
            VARCHAR }
        </if>
        <if test="unitId != null">
            AND unit_id = #{ unitId,jdbcType= BIGINT }
        </if>
        <if test="groupPhone != null">
            AND group_phone = #{ groupPhone,jdbcType=
            VARCHAR }
        </if>
        <if test="comment != null">
            AND comment = #{ comment,jdbcType=
            VARCHAR }
        </if>
        <if test="createTime != null">
            AND create_time = #{ createTime,jdbcType= BIGINT }
        </if>
        <if test="updateTime != null">
            AND update_time = #{ updateTime,jdbcType= BIGINT }
        </if>
        ORDER BY id desc
    </select>

    <select id="selectCountByProperty" resultType="java.lang.Integer"
            parameterType="Map">
        select
        count(1)
        from t_team_group
        where 1=1
        <if test="id != null">
            AND id = #{ id,jdbcType= BIGINT }
        </if>
        <if test="groupName != null">
            AND group_name = #{ groupName,jdbcType=
            VARCHAR }
        </if>
        <if test="unitId != null">
            AND unit_id = #{ unitId,jdbcType= BIGINT }
        </if>
        <if test="groupPhone != null">
            AND group_phone = #{ groupPhone,jdbcType=
            VARCHAR }
        </if>
        <if test="comment != null">
            AND comment = #{ comment,jdbcType=
            VARCHAR }
        </if>
        <if test="createTime != null">
            AND create_time = #{ createTime,jdbcType= BIGINT }
        </if>
        <if test="updateTime != null">
            AND update_time = #{ updateTime,jdbcType= BIGINT }
        </if>
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.share.inspect.qrci.enter.TeamGroup">
        <if test="id !=null">
            update t_team_group
            <set>
                <if test="id != null">
                    id = #{ id,jdbcType= BIGINT },
                </if>
                <if test="groupName != null">
                    group_name = #{ groupName,jdbcType=
                        VARCHAR },
                </if>
                <if test="unitId != null">
                    unit_id = #{ unitId,jdbcType= BIGINT },
                </if>
                <if test="groupPhone != null">
                    group_phone = #{ groupPhone,jdbcType=
                        VARCHAR },
                </if>
                <if test="comment != null">
                    comment = #{ comment,jdbcType=
                        VARCHAR },
                </if>
                <if test="createTime != null">
                    create_time = #{ createTime,jdbcType= BIGINT },
                </if>
                <if test="updateTime != null">
                    update_time = #{ updateTime,jdbcType= BIGINT }
                </if>
            </set>
            where id = #{ id,jdbcType=BIGINT}
        </if>
    </update>

</mapper>